

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.img {
      width: auto;
      height: auto;
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  background-color: rgba(0,0,0,.5);
  text-align: center;
  padding-left: 1%;
  padding-top: 0%;
  padding-bottom: 1%;
  color: rgb(22, 197, 31);

}

.navBar {
  color: white;
  margin-bottom: 1%;
  background-color: black;
}

.bg {
    background: url('MoviePosterCollage_Resized.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%; 

}

.main {
  
    height: 100%; 
    background-size: cover;
    background-color: rgba(0,0,0,.2);

}

.mc {
    padding-left: 8%;
    background-color: rgba(0,0,0,.8);
}


.mvItem {
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  background-color: black;
}

.profile {
  color: rgb(22, 197, 31);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgba(0,0,0,.8);
  text-align: center;
}

.searchField {
  padding-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

.form {
  color: rgb(22, 197, 31);
  background-color: rgba(0,0,0,.8);
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 3%;

}

.signDiv {
    color: limegreen;
    padding-left: 2%;
    margin-bottom: 1%;
    padding-top: 1%;
}

.about {
  color: rgb(22, 197, 31);
  background-color: rgba(0,0,0,.8);
  padding-left: 3%;
  padding-top: 3%;
}

.videoFrame {

  width: 100% !important;
  height: 600px;
}

div.scrollmenu {
  background-color: rgb(44, 41, 41);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgb(48, 106, 145);
}

.close {
    text-align: right;
}

.styling {
      width: 100%;
      padding: 0px;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.review a {
  font-weight: bolder;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.reviewNav {
  background: rgb(0, 0, 0);
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.review a:hover{
  font-weight: lighter;
  font-size: small;
  color: white;
  
}

.emailVal {
  color: 'red';
}
/* body {
  background-image: url("./movies_poster_2019_collage.jpg");
  background-repeat: no-repeat; 
   
}
  [data-reactroot] 
        {height: 100% !important; }

*/


/******************************* SVG EFFECTS ************************************/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, #app, #app>div {
  
  height: 50%;
  font-weight: 800;

}

body{
  /* background: #030321; */
  background-color: rgba(0,0,0,.5);
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: rgb(49, 241, 1);
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #66037a;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: rgb(98, 4, 107);
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: rgb(49, 241, 1);
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: rgb(251, 255, 0);
	animation-delay: -3s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/******************************* SVG EFFECTS ************************************/


