

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.img {
      width: auto;
      height: auto;
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  background-color: black;
  text-align: center;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: rgb(22, 197, 31);

}

.navBar {
  color: white;
  margin-bottom: 1%;
  background-color: black;
}

.bg {
    background: url('MoviePosterCollage_Resized.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main {
    background-color: rgba(0,0,0,.8);

}

.mc {
    padding-left: 8%;
    background-color: rgba(0,0,0,.8);

}


.mvItem {
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  background-color: black;
}

.profile {
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgba(0,0,0,.8);
}

.searchField {
  padding-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

.form {
  color: rgb(22, 197, 31);
  background-color: rgba(0,0,0,.8);
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 3%;

}

.signDiv {
    color: limegreen;
    padding-left: 2%;
    margin-bottom: 1%;
}

.about {
  color: rgb(22, 197, 31);
  background-color: rgba(0,0,0,.8);
  padding-left: 3%;
  padding-top: 3%;
}

.videoFrame {

  width: 100% !important;
  height: 600px;
}

/* body {
  background-image: url("./movies_poster_2019_collage.jpg");
  background-repeat: no-repeat;
} */